<%= render 'creed/shared/menu' %>	

<div class="inside-box">
	<!-- Image space -->
	<div class="title-bar-box">
		<h1><%= t("views.creed.edit_#{creed.class.to_s.downcase}.title") %></h1>
	</div>
	
	<%= form_for([:creed, creed], :html => { :method => :put }) do |f| %>
		<%= render :partial => 'creed/shared/form', 
						 	 :locals => {:f => f, :commit_changes_legend => t("views.creed.edit_#{creed.class.to_s.downcase}.controls.save"), :creed => creed } %>
	<% end %>
</div>
