<div class="title-bar rounded-10-top">
	<ul>
		<li><%= link_to t('views.creed.vision'), creed_visions_url %></li>
		<li><%= link_to t('views.creed.mission'), creed_missions_url %></li>
		<li><%= link_to t('views.creed.war_cry_description'), creed_war_cries_url %></li>
	</ul>
</div>