<%= content_for :contextual_legend do %>
	<div class="help">
		<div class="title">
			<p><%=t 'views.help.title' %></p>
		</div>
		
		<div class="in-previewer">
		
			<h2><%=t 'views.help.shared.previewer.legend' %></h2>
		
			<div id="wmd-preview" class="wmd-panel"></div>
		
		</div>
		
	</div>
<% end %>