<% if success %>
	<p class="notice"><%=t 'views.creed.comments.add_comment.successful_save' %></p>
<% else %>
	<p class="alert"><%=t 'views.creed.comments.add_comment.unsuccessful_save' %></p>
<% end %>