<% if success %>
	<p class="notice"><%=t 'views.common.messages.save.successful', :model => t('activerecord.models.comment'), :genre => 'o' %></p>
<% else %>
	<p class="alert"><%=t 'views.common.messages.save.unsuccessful', :model => t('activerecord.models.comment'), :connector => 'éste' %></p>
<% end %>