<div class="box rounded-10 with-shadow with-mid-width">
	<%= render :partial => 'creed/shared/show_creed', :locals => {:creed => @war_cry} %>
</div>

<%= content_for :contextual_legend do %>
	<%= render 'contextual_legends/contextual_legend' %>
<% end %>