body {
  background: url(../images/back_b.jpg) repeat-x;
  font-family: Tahoma;
  font-weight: 40;
}

h1 {
  color: #999;
}

a{
	color:#C89232;
}

.rounded-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px;
}

.rounded-5 {
  border-radius: 5px;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
}

.rounded-5-top {
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0; 
  -moz-border-radius: 5px 5px 0 0;  
}

.rounded-10-top {
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0; 
  -moz-border-radius: 10px 10px 0 0;  
}

.with-shadow {
  -moz-box-shadow:0 0 10px #666;
  box-shadow:0 0 10px #666;
  -webkit-box-shadow:0 0 10px #666;
}

.with-inner-shadow {
  -moz-box-shadow:inset 0 0 10px #CDCDCD;
  box-shadow:inset 0 0 10px #CDCDCD;
  -webkit-box-shadow:inset 0 0 10px #CDCDCD;
}

.centered { text-align: center }


.right-placed { float: right }

.button, .button:visited {
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0px 0px 2px #737373;
  -khtml-box-shadow: 0px 0px 2px #737373;
  -webkit-box-shadow: 0px 0px 2px #737373;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border: 1px solid #939393;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  font-weight: 100;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.button:hover {
  -moz-box-shadow: 0px 0px 4px #737373;
  -khtml-box-shadow: 0px 0px 4px #737373;
  -webkit-box-shadow: 0px 0px 4px #737373;
}

ul.items-inlined { 
  list-style: none;
  margin: 5px 0px;
  padding: 0;
}

ul.items-inlined li.selected a { 
  color: #fff;
  font-size: 16px;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

ul.items-inlined li a { 
  font-size: 16px;
  text-transform:capitalize;
  text-decoration: none;
  color:#4C4C4C;
}

ul.items-inlined li.selected { 
	color:#fff;
  background-color:#828282;
}

ul.items-inlined li { 
  display: inline-block;
  margin-right: 15px;
  padding: 5px;
  width: 120px;
  text-align: center;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.orange.button, .orange.button:visited  { background-color: rgba(255,96,4,1); }
.orange.button:hover        { background-color: rgba(255,96,4,0.9); }

.green.button, .green.button:visited  { background-color: rgba(131,205,17,1); }
.green.button:hover       { background-color: rgba(131,205,17,0.8); }

.gray.button, .gray.button:visited  { background-color: rgba(143, 143, 143, 1); }
.gray.button:hover        { background-color: rgba(194,191,184, 0.8); }

.as-link {
  border:none;
}

.margin-from-top-8 { margin-top: 8px }

input, textarea, select {  
  padding: 5px;  
  border: solid 1px #E5E5E5;  
  outline: 0;  
  font: normal 13px/100% Verdana, Tahoma, sans-serif;  
  background: #FFFFFF;  
  border-color: #D6D6D6;  
}  
textarea {  
  width: 650px;  
  max-width: 650px;  
  height: 150px;  
  line-height: 150%;  
}  

input:hover, textarea:hover,  
input:focus, textarea:focus {  
  border-color: #AEAEAE;  
}

.form-controls { margin-top: 20px }
.form-controls a {
  color: #999;
  font-weight: bold;
  text-decoration: none;
}

.flash { 
  text-align: center; 
  font-weight: bold; 
  font-size: 16px;
  margin-top:}

#notice {
  color: #007B54;
}

#alert {
  color: #7E1803;
}

.hidden { display:none }

/** Styles for specific global controls **/

.title-bar {
  background-color:#999;
  padding: 2px 30px;
  height: 40px;
}

.title-bar-box {
  background-color:#E7EBC6;
  padding: 2px 30px;
  height: 40px;
  vertical-align:top;
}

.title-bar-box h1 {
  margin: 5px;
}
.title-bar h2 {
  font-size: 19px;
  color: white;
  text-shadow:0 0 3px black;
  float:left;
  margin: 7px 0;
}
.title-bar a.back {
  float: right;
  margin: 1em 0em;
}

.box {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.with-mid-width { width: 750px }

.inside-box {
  padding: 20px 30px;
  clear: both;
}

.grey-colored {
  background-color:rgba(189,189,189,0.2);
  border: 1px solid #BCBCBC;
}

.field-set {
  padding: 30px 20px;
}

.field-set input,
.field-set textarea,
.field-set select { font-weight: bold }

.field-set label { font-size: 14px }

.label-large > div {
  width: 150px;
}

.label-small > div {
  width: 80px;
}

.field-set > div {
  display: inline-block;
  padding: 10px;
}

.help { width: 80% }

.help .title p {
  padding-top: 3px;
}

.help .title { 
  font-weight: 200;
  background-color: #F2811D;
  text-align: center; 
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  height: 25px;
  text-shadow:0 0 2px black;
}

.help .contextual { 
  padding: 10px 8px;
}

.account_menu {
  background-color: #E2E4B4;
  padding: 5px;
}

.account_menu a, .account_menu a:visited {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 14px;
}

.tasks table {
  margin-top: 20px;
  width: 100%;
}

.tasks table tr th {
  background-color:#A7C933;
  color: white;
  font-size: 16px;
  padding: 10px;
}

.tasks table tr td {
  padding: 5px;
  text-align: center;
}

.tasks table tr.odd { background-color: #E0E3AA }

.header-contents {
  background: url(../images/header_b.jpg) repeat-x;
  width: 100%;
  height: 60px;
  -moz-box-shadow:0 0 10px #3A3A3A;
  box-shadow:0 0 10px #3A3A3A;
  -webkit-box-shadow:0 0 10px #3A3A3A;
}

.header-contents #app-logo {
  width:211px;
  height: 60px;
  position: relative;
  left: 50%;
  margin-left:-105px;
  background: url(../images/app_logo.jpg);
}

.header-contents .left-menu {
  position: absolute;
  top: 8px;
  left: 70px;
}

.header-contents .left-menu ul li.last {
  border:none;
}

.header-contents .left-menu ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid #767660;
}

.header-contents .left-menu ul li a {
  color: #A39F92;
  padding-bottom: 2px;
  text-decoration:none;
}

.header-contents .left-menu ul li a:hover {
  text-decoration:underline;
  color: white;
}

.header-contents .right-menu select {
  margin-top: 5px;
  padding: 2px;
  font-size: 12px !important;
}

.header-contents .right-menu .area-selector-arrow {
  display: inline-block;
  background: url(../images/select_arrow.png) no-repeat;
  height: 10px;
  width: 10px;
}

.header-contents .right-menu {
  position: absolute;
  float: right;
  top: 5px;
  right: 30px;
  font-size: 12px;
  color: #fff;
  width: 320px;
}

.header-contents .right-menu a { 
  text-decoration: none;
  color: #fff;
}

.header-contents .right-menu span { 
  color: #A39F92;
  font-weight: 100;
}

.is-admin {
  font-weight: bold;
}

#menu-content {
  margin-top: 0px;
  width: 100%;
  height: 26px;
  padding-bottom: 10px;
  border-bottom: solid 2px #999;
}
#menu-content ul { padding-top:3px }
ul.menu{
  list-style:none; 
  height:2em;
  padding:0; 
  margin:0; 
  border: none;
}

.messages {
  margin-bottom: 10px;
  height: 20px !important;
  display: block;
}

.menu li {
  display: inline-block;
  float:left; 
  margin-right:0.13em; 
}

.menu li:last-child { float: right; }

.form-box{
  padding: 10px;
  background-color: #DFDFDF;
}

.notification-box{
  padding: 10px;
  margin-top: 5px;
  background-color: #f2f2f2;
}

.creed-vision-form{
  padding: 10px;
  margin-top: 5px;
}

.actions{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.actions button{ margin: 10px 0px; }

.menu li a {
  display: block;
}

.back_menu{
	color: #4C4C4C;
	    display: block;
	    padding: 7px 9px;
	    text-decoration: none;
}

.menu li.selected a.objective-op-btn, .menu li.selected a.objective-op-btn:hover {
  background: url(../images/objetivosope_btn_selected.png) no-repeat;
}

.menu li a.objective-op-btn:hover {
  background: url(../images/objetivosope_btn_hover.png) no-repeat;
}

.menu li a.objective-op-btn {
  width:180px;
  height: 32px;
  background: url(../images/objetivosope_btn_up.png) no-repeat;
}


.menu li.selected a.projects-btn, .menu li.selected a.projects-btn:hover {
  background: url(../images/proyectos_btn_selected.png) no-repeat;
}

.menu li a.projects-btn:hover {
  background: url(../images/proyectos_btn_hover.png) no-repeat;
}

.menu li a.projects-btn {
  width:180px;
  height: 32px;
  background: url(../images/proyectos_btn_up.png) no-repeat;
}


.menu li.selected a.ciclos-op-btn, .menu li.selected a.ciclos-op-btn:hover {
  background: url(../images/ciclos_btn_selected.png) no-repeat;
}

.menu li a.ciclos-op-btn:hover {
  background: url(../images/ciclos_btn_hover.png) no-repeat;
}

.menu li a.ciclos-op-btn {
  width:160px;
  height: 32px;
  background: url(../images/ciclos_btn_up.png) no-repeat;
}



.menu li.selected a.panorama-btn, .menu li.selected a.panorama-btn:hover {
  background: url(../images/panorama_btn_selected.png) no-repeat;
}

.menu li a.panorama-btn:hover {
  background: url(../images/panorama_btn_hover.png) no-repeat;
}

.menu li a.panorama-btn {
  width:102px;
  height: 32px;
  background: url(../images/panorama_btn_up.png) no-repeat;
}

.menu li.selected a.direction-btn, .menu li.selected a.direction-btn:hover {
  background: url(../images/directions_btn_selected.png) no-repeat;
}

.menu li a.direction-btn:hover {
  background: url(../images/directions_btn_hover.png) no-repeat;
}

.menu li a.direction-btn {
  width:76px;
  height: 32px;
  background: url(../images/directions_btn_up.png) no-repeat;
}

.menu li.selected a.foda-btn, .menu li.selected a.foda-btn:hover {
  background: url(../images/fod_btn_selected.png) no-repeat;
}

.menu li a.foda-btn:hover {
  background: url(../images/fod_btn_hover.png) no-repeat;
}

.menu li a.foda-btn {
  width:65px;
  height: 32px;
  background: url(../images/fod_btn_up.png) no-repeat;
}

.menu li.selected a.strategic-l-btn, .menu li.selected a.strategic-l-btn:hover {
  background: url(../images/strategic_l_btn_selected.png) no-repeat;
}

.menu li a.strategic-l-btn:hover {
  background: url(../images/strategic_l_btn_hover.png) no-repeat;
}

.menu li a.strategic-l-btn {
  width:170px;
  height: 32px;
  background: url(../images/strategic_l_btn_up.png) no-repeat;
}

.menu li.selected a.strategic-o-btn, .menu li.selected a.strategic-o-btn:hover {
  background: url(../images/strategic_o_btn_selected.png) no-repeat;
}

.menu li a.strategic-o-btn:hover {
  background: url(../images/strategic_o_btn_hover.png) no-repeat;
}

.menu li a.strategic-o-btn {
  width:194px;
  height: 32px;
  background: url(../images/strategic_o_btn_up.png) no-repeat;
}

.menu li.selected a.programs-btn, .menu li.selected a.programs-btn:hover {
  background: url(../images/programs_btn_selected.png) no-repeat;
}

.menu li a.programs-btn:hover {
  background: url(../images/programs_btn_hover.png) no-repeat;
}

.menu li a.programs-btn {
  width:111px;
  height: 32px;
  background: url(../images/programs_btn_up.png) no-repeat;
}

.menu li.selected a.people-btn, .menu li.selected a.people-btn:hover {
  background: url(../images/people_btn_selected.png) no-repeat;
}

.menu li a.people-btn:hover {
  background: url(../images/people_btn_hover.png) no-repeat;
}

.menu li a.people-btn {
  width:190px;
  height: 32px;
  background: url(../images/people_btn_up.png) no-repeat;
}

.contextual-link:hover {
  text-decoration: underline;
  color: #000;
}

.contextual-link {
  color: #353535;
  text-decoration: none;
}

.area-title #modify:hover {
  background: url(../images/editar_ico_hover.png) no-repeat;
}

.area-title #modify {
  background: url(../images/editar_ico_up.png) no-repeat;
  width: 9px;
  height: 18px;
  display: inline-block;
}

.area-title {
  background-color:#ccc;
  padding: 10px;
}

.area-title span {
  font-size: 16px;
  color:#6D6A63;
}

.creed_buttons a {
  text-decoration:none;
  margin: 10px;
}

.creed_buttons input {
  margin: 10px;
}

.creed_description {
  clear:both;
  background-color:#eaecc7;
  height:37px;
  width:100%;
}

#comments {
  background-color:#f2f2f2;
  padding-bottom: 1em;
}

#comments p {
  vertical-align:center;
}

.comments_with_triangle {
  position:relative;
  padding:15px;
  margin:100px 0 0.5em;
  color:#333;
  background:#F2F2F2;
}

.comments_with_triangle p {font-size:28px; line-height:1.25em;}

/* creates the triangle */
.comments_with_triangle:after {
  content:"";
  position:absolute;
  top:-30px;
  left:20px;
  border:15px solid transparent;
  border-bottom-color:#F2F2F2;
  /* reduce the damage in FF3.0 */
  display:block; 
  width:0;
}

.number {
  background: #eaecc7;
}

.links {
  padding-left: 17px;
}

.links a {
  padding-left: 1em;
}

.list {
  clear:both;
}

.comment {
  padding-top:1em;
}

.author {
  float:left;
}

.date {
  float:left;
  padding-left: 5em;
}

.comment_content {
  clear:both;
  padding-top:1em;
  padding-bottom:2em;
  border-bottom: 2px solid #dadada;
}

.button_to {
  position:relative;
  top:0;
  right:0;
}

.button_to input[type=submit]{
  background: url(../images/borrar_ico_up.png) no-repeat;
  padding-right: 1em;
  border: none;
  cursor:pointer;
  width: 9px;
  height: 18px;
  display: inline-block;
  color: transparent;
}

.button_to input[type=submit]:hover {
  background: url(../images/borrar_ico_over.png) no-repeat;
}

.button_to_edit{
  background: url(../images/editar_ico_up.png) no-repeat;
  padding-right: 1em; 
  border: none;
  cursor:pointer; 
  width: 9px;
  height: 18px;
  display: inline-block;
  color: transparent;
}

.button_to_delete{
  padding-right: 1em; 
  border: none;
  cursor:pointer; 
  width: 13px;
  height: 18px;
  display: inline-block;
  color: transparent;
}

.button_to_delete:hover{
	 background: url(../images/borrar_ico_over.png) no-repeat;
}


.button_to_edit:hover{
	background: url(../images/editar_ico_hover.png) no-repeat;	
}

.creed_description_first {
  float:left;
  width:90%;
  color:#666666;
  height:37px;
}

.creed_description_first h4 {
  float:left;
  font-family: Tahoma;
  font-size:18pt;
  text-align:center;
  padding: .2em;
  vertical-align: bottom;
}

.creed_description_first p {
  float:left;
  position:relative;
  font-size:10pt;
  text-align:left;
  padding-left:5px;
  vertical-align: bottom;
  top: 13px;
}

.creed_description_desc {
  padding: .7em;
}

.list-item {
  margin: 4px;
  padding-bottom:.7em;
  border-bottom: 2px solid #dadada;
}
.list-item p{
	font-size:16px;
}

.list-item span {
  float:left;
}

.menu_item_selected {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
}

.menu_item_selected:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#A8AC3E transparent;
  /* reduce the damage in FF3.0 */
  display:block; 
  width:0;
}

.comment_new {
  background:#F2F2F2;
}

.comment_new form {
  padding-left:3em;
}

.comment_new textarea {
  width:90%;
  height:50px;
}

#new-comment-for-commentable h2 {
  padding-left: 2.5em;
}

.strengths_title {
  font-size:18pt;
  color:#666666;
  background-color:#EAECC7;
  margin:0px 5px 0px 0px;
  padding: 5px 0px 6px 10px;
}


.strengths_add_link {
  font-size:12pt;
  color:#0000FF;
  background-color:#F2F2F2;
  margin:10px 5px 0px 0px;
  padding: 5px 0px 6px 10px;
}

.weaknesses_add_link {
  font-size:12pt;
  color:#0000FF;
  background-color:#F2F2F2;
  margin:10px 0px 0px 5px;
  padding: 5px 0px 6px 10px;
}

.strengths span {
  font-size:10pt;
}

.weaknesses_title {
  font-size:18pt;
  color:#666666;
  background-color:#EAECC7;
  margin:0px 0px 0px 5px;
  padding: 5px 0px 6px 10px;
}

.weaknesses span {
  font-size:10pt;
}

.opportunities_title {
  font-size:18pt;
  color:#666666;
  background-color:#EAECC7;
  margin:0px 5px 0px 0px;
  padding: 5px 0px 6px 10px;
}

.opportunities span {
  font-size:10pt;
}

.risk_title {
  font-size:18pt;
  color:#666666;
  background-color:#EAECC7;
  margin:0px 0px 0px 5px;
  padding: 5px 0px 6px 10px;
}

.opportunities_add_link{
  font-size:12pt;
  color:#0000FF;
  background-color:#F2F2F2;
  margin:10px 5px 0px 0px;
  padding: 5px 0px 6px 10px;
}

.risk_add_link {
  font-size:12pt;
  color:#0000FF;
  background-color:#F2F2F2;
  margin:10px 0px 0px 5px;
  padding: 5px 0px 6px 10px;
}

.risks span {
  font-size:10pt;
}

.new_analysis {
  
}

.number {
  position:relative;
  padding-top:3px;
  padding-bottom:3px;
  padding-left:9px;
  padding-right:9px;
  margin:1em 0 3em;
  color:#fff;
  background:#A8AC3E; /* default background for browsers without gradient support */
  /* css3 */
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.right-placed a {
  text-decoration:none;
}

.number:after {
  content:"";
  position:absolute;
  bottom:-9px; /* value = - border-top-width - border-bottom-width */
  left:11px; /* controls horizontal position */
  border-width:9px 0 0 7px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#A8AC3E transparent; 
  /* reduce the damage in FF3.0 */
  display:block; 
  width:0;
}

.commenting-title {
  background: #EAECC7;
}

.fix_button .orange {
  margin-right: 50px;
  margin-top: 10px;
}

.fix_button .gray {
  margin-right:30px;
}

.strategic_line_value{
	font-size:14pt;
	float:left;
	color: #666666;
}
.record_info{
	color:#BFBFBF;
	font-size:10pt;
}

.right_place{
	float:right;
	display:inline;
}

.strategic_add_link{
  font-size:10pt;
  color:#0000FF;
  background-color:#F2F2F2;
  margin:10px 5px 0px 0px;
  padding: 5px 0px 6px 10px;
}


.user-block{
	background-color: #EFEDED;
    display: block;
    float: left;
    margin: 10px 5px 0px 0 ;
    min-height: 35px;
    padding: 14px;
    width: 45%;
	overflow-x:hidden;
}


.user-block-roles{
	background-color: #EFEDED;
    display: block;
    float: left;
    margin: 10px;
    min-height: 35px;
    padding: 10px;
    width: 38%;
}

.new-user-block{
	border: 4px solid #D6D33B;
    display: block;
    float: left;
    margin: 10px;
    min-height: 25px;
    padding: 10px 6px 6px 10px;
	color :#D6D33B;
	font-size:17px;
}

.new-user-block a{
	color:#D6D33B;
}

.new-user-block span{
	float:left;
	margin:20px 30px;
}

.new-user-block img{
	float:left;
}
.new-user-block li{
	color:#000 !important;
	font-size:12px;
}

.hidden{
	visibility:hidden;
}

.fields-new-person{
	width:100%;
	font-size:12px;
	margin-top:15px;
}

.fields-new-person span{
	width:70px;
	margin:0px !important;
}

.clear{
	clear:both;
}


.right{
	float:right !important;
}

.left{
	float:left !important;
}
.width20{
	width:20% !important;
}

.width70{
	width:70% !important;
}

.width50{
	width:50% !important;
}
.update_user:hover {
  background: url(../images/editar_ico_hover.png) no-repeat;
}

.update_user{
  background: url(../images/editar_ico_up.png) no-repeat;
  width: 9px;
  height: 18px;
  display: inline-block;
}

.edit_person_title {
	background-color: #ccc;
	padding: 1px 20px;
	margin-top:10px;
	color:#999;
}



.edit_person_title b{
	color:#666;
}

.yellow{
	background-color: #BBBF45;
}

.padding10{
	padding:10px;
}

.notice_box{
	background-color:#E6E3DA;
	margin:30px 0px;
	padding:20px;
	text-align:center;
}



.strategic_line_value{
	font-size:14pt;
	float:left;
	color: #666666;
}
.record_info{
	color:#BFBFBF;
	font-size:10pt;
}

.right_place{
	float:right;
	display:inline;
}

.strategic_add_link{
  font-size:10pt;
  color:#0000FF;
  background-color:#F2F2F2;
  margin:10px 5px 0px 0px;
  padding: 5px 0px 6px 10px;
}

.inside_area {
	background-color:#F2F2F2;
	padding:20px;
}
.title_h2{
	color: #999999;
	font-style:normal;
	font-size:13pt;
}

.area_name{
	width:500px; 
}

.textarea_function {
    height: 65px;
    line-height: 150%;
    max-width: 665px;
    width: 665px;
}

.select_area{
	float:right;
}

.right{
	float:right;
}

.center{
	clear: both;
}
.area_people{
	list-style:none;
}
.user_item{
	 list-style: none;
	 float:left;
	 margin:6px 6px 6px 6px;
	 
}

.user_area{
	background-color:#F2F2F2;
	width:295px;
	padding:10px 0px 10px 10px;
	font-size:10pt;
}

.user_area_email{
	font-size:9pt;
}

.new_user_block{
	width:280px;
	margin:6px 35px 5px 6px;
	padding:5px 0px 0px 10px;
	float:right;
	border-width:8px; 
	border-style:solid;
	border-color:#C2C747;
}

.fields-new-person{
	margin:0 auto;
}

.fields-new-person label{
	display:block;
	text-align:left;
	width:70px;
	float:left;
}

.add_people_link{
	display:inline;
}

.user-block img{
	float:left;
	display:inline;	
}
.add_people_link a{
	text-decoration:none;
	color:#C2C234;
	font-size:16pt;
}

.bold{
	font-weight:bold;
	margin:2px 0px 4px 0px;
}

.text_area_operative_cycle{
	width: 550px;	
	height: 90px;
}

.text_area_operative_objective{
	width: 320px;	
	height: 90px;
}


.cycle_name{
	width: 550px;
}

.pointer_description{
	width: 458px;
}

.internal_id{
	width: 85px;
}

.nested_textbox{
	width: 550px;	
}

.marginright10px{
	margin-right:10px;
}

.objective_table th{
	background-color: #BBBBBB;
	color: #fff;
}

.objective_table td{
	margin:10px 0;
}

.width200px{
	width:240px;
	margin-top:0;
}

.width46{
	width:46%;
	height:100px;
}

.align-center{
	text-align:center;
}

.align-left{
	text-align:left;
}

.align-right{
	text-align:right;
}


.blank_color_pointers{
	background-color:#fff;
	padding:10px;
}

.blank-box{
	background-color:#fff;
	padding:10px;
}

.red_box{
	background-color:#EB040A;
	padding:10px;
	margin: 10px 10px 0;
	color:#fff;
	width:27%;
}

.yellow_box{
	background-color:#FBCC04;
	padding:10px;
	margin: 10px 10px 0;
	color:#fff;
	width:27%;
}

.green_box{
	background-color:#00972F;
	padding:10px;
	margin: 10px 10px 0;
	color:#fff;
	width:27%;
}

.thresholds_input{
	width:23px;
	height:10px;
}


.pointer_table{
	width:100%;
	border-color:#fff;
	margin-top:40px;
	}

.pointer_table th{
	border:5px solid #fff;
	color:#969696;
	background-color:#fff;
	font-weight:normal !important;
}

.pointer_table td{
	border:5px solid #fff;
	padding:10px 2px;
}

.pointer_input{
	width:20px;
	height:10px;
}

#area_selector{
	width:200px;
}

.light-gray{
	background-color:#F2F2F2;
	padding:5px;
}

.gray{
	background-color:#E1E1E1;
	padding:5px;
}

.blank_bg{
	background-color:white;
	padding:5px;
}

.no_edit_input{
		border:none;
		background:none;
		}	

#clients{
	margin:10px;
}


#stages{
	margin:10px;
}

.editable{
	border:1px solid #c0c0c0;
	background:white;
	}

.steps_container{
	background-color:white;
	margin:10px;
	padding:10px;
}

.padding_10px{
	padding:10px;
}

.marginright_70px{
	margin-right:70px;
}

.project_date{
	margin-right:50px;
	margin-top:35px;
	
}

.width_50{
	width:50%;
}

.width_60{
	width:60%;
}	

.width_40{
	width:40%;
}	


.width1000 { width: 1000px }

.ui-sortable li{
	list-style:none;
	cursor:move;
	padding-left: 30px;
}


.ui-sortable li:hover{
	background: url('../images/move.gif') no-repeat;
}

.ui-sortable a{
	text-decoration:none;
	
}

.close {
	vertical-align:bottom;
}

.ui-sortable{
	margin:0;
}

