%label
	%strong
		= t('views.operating_cycle.stages')
%br
%br
.align-right.right{:style=>"width:100%"}
	%input{:id=>"stages_input", :style=>"width:100%"}		
	%br
	= link_to t('views.operating_cycle.add_stage'), "", :id=>"add_stage"
.clear
#stages.hidden				