%label
	%strong
		= t('views.operating_cycle.section_client')
%br
%br
.align-right.right{:style=>"width:100%"}
	%input{:id=>"clients_input", :style=>"width:100%"}		
	%br
	= link_to t('views.operating_cycle.add_client'), "", :id=>"add_client"
.clear	
#clients.hidden
	%ul{:id=>"clients_ul"}
