%label
	%strong
		= t('views.operating_cycle.services')
%br
%br
.align-right.right{:style=>"width:100%"}
	%input{:id=>"services_input", :style=>"width:100%"}		
	%br
	= link_to t('views.operating_cycle.add_service'), "", :id=>"add_service"
.clear	
#services.hidden
	%ul{:id=>"services_ul"}
