.light-gray.padding_10px
	%label
		%strong
			= t('views.operating_cycle.stages')
	%br
	#stages
		#stages_container
			%ul{:id=>"stages_ul"}
			%ul{:class=>"add_element_ul"}
				%li
					%input{:id=>"stages_input", :style=>"width:100%", :class => :add_input, :value => t('views.operating_cycle.add_stage'), :rel => :stage}		
					%br
					= link_to t('views.operating_cycle.add_stage'), "", :id=>"add_stage", :class => 'hidden left'
			