%h2
	= t('views.operating_cycle.strategic_lines')
%ul
	- @strategic_lines.each do |strategic_line|
		= check_box_tag 'operating_cyle[strategic_line_ids][]', strategic_line.id, @operating_cycle.strategic_lines.include?(strategic_line)
		= label_tag :operating_cylce_strategic_line_ids_, strategic_line.content