= content_for(:sl_menu, &Proc.new { "selected" })
	
%div{:class => 'inside-box max-inner-width'}
	%div{:class => 'strategic-objectives-img image'}
	%div{:class => 'text-content'}
	%h1
		= t('views.strategic_lines.index.empty.title')
	%div{:class => 'contextual'}
		FUCKYEA