%div.form-box
	%h2
		= t('views.operative_objective.strategic_lines')
	%ul
		- @strategic_lines.each do |strategic_line|
			= check_box_tag 'operative_objective[strategic_line_ids][]', strategic_line.id, @operative_objective.strategic_lines.include?(strategic_line)
			= label_tag :operating_cylce_strategic_line_ids_, strategic_line.content
			%br