<div class="box rounded-10 with-shadow with-mid-width">
	
	<%= render 'swot/shared/menu' %>	
	
	<div class="inside-box">
		<!-- Image space -->
		<h1><%= t('views.swot.first_view.title') %></h1>
		
		<p><%= t('views.swot.first_view.description') %></p>
		
		<%= link_to t('views.swot.first_view.controls.start'), 
					  internal_swot_analyses_url(with_current_subdomain), 
					  :method => :get, :class => "button orange" %>
	</div>
</div>


