<%= content_for(:vi_submenu, &Proc.new { "selected" }) %>

<div class="box rounded-10 with-shadow with-mid-width">
	<%= render :partial => 'creed/shared/edit_creed', :locals => {:creed => @vision} %>
</div>

<%= content_for :contextual_legend do %>
	<%= render 'contextual_legends/contextual_legend' %>
<% end %>