<div class="box rounded-10 with-shadow with-mid-width">
	
	<%= render 'creed/shared/menu' %>	
	
	<div class="inside-box">
		<!-- Image space -->
		<h1><%= t('views.creed.first_view.title') %></h1>
		
		<p><%=line_break t('views.creed.first_view.description') %></p>
		
		<%= button_to t('views.creed.first_view.controls.add_vision'), 
					  new_creed_vision_url(with_current_subdomain), 
					  :method => :get, :class => "button orange as-link" %>
	</div>
</div>