<div class="account_menu">
	<ul class="items-inlined">
		<li><%= link_to I18n.t('views.accounts.sections.my_info.title'), user_info_url(with_current_subdomain) %></li>
		<li><%= link_to I18n.t('views.accounts.sections.my_account.title'), account_info_url(with_current_subdomain) %></li>
		<li><%= link_to I18n.t('views.accounts.sections.my_tasks.title'), user_tasks_url(with_current_subdomain) %></li>
	</ul>
</div>
